<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="./css/login.css" rel="stylesheet" media="all">

</head>

<body>
    <h1>ログインページ</h1>
    <div class="login_Form">
        <form th:method="post" th:action="@{/loginprocessing} " th:object="${formdata} ">

            <ul>
                <li>
                    <label>ログインID</label>
                    <input type="text" name="user_id " th:text="*{user_id}" required/>

                </li>
                <li>
                    <label>パスワード</label>
                    <input type="password" name="password " th:text="*{password}" required/>
                </li>
               

            </ul>
             <button class="btn-primary" type="submit">ログイン</button>
        </form>
    </div>
    <a th:href="@{ '/SignUp'} ">ユーザー登録</a>


</body>

</html>