<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ログイン画面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="login.css" rel="stylesheet" media="all">

</head>

<body>
    <h1>ログインページ</h1>
    <div class="login_Form">
        <form method=" post " action="/login " th:object="${logindata} ">

            <ul>
                <li>
                    <label>ログインID</label>
                    <input type="text " name="userid " th:value="*{userid} " required/></td>

                </li>
                <li>
                    <label>パスワード</label>
                    <input type="password " name="password " th:value="*{password} " required/></td>
                </li>
                <button class="btn-primary " type="submit ">ログイン</button>

            </ul>
        </form>
    </div>
    <a th:href="@{ '/SignUp'} ">ユーザー登録</a>


</body>

</html>