<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="memo.css" rel="stylesheet" media="all">
    <title>メモ投稿</title>
</head>

<body>
    <h1 th:text="title">やることをかこう</h1>
    <div class="memo_Form">
        <form method="post" action="/memo" th:object="${memodata}">
            <textarea name="memo" th:value="*{memo}" cols="60" rows="20"></textarea>
            <button type="submit">投稿</button>
            <button class="btn-primary" type="submit" th:href="@{'/login'}">サインアウト</button>


        </form>
    </div>
</body>

</html>