<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type"
		  content="text/html; charset=UTF-8" />
<title>登録画面</title>

</head>

<body>
	<div>
	<table>
		<form method="post" action="login/SignUp" th:object="${formModel}">
			<tr><td><label for="id">ログインID</label></td>
			<td><input type="text" id="id" th:value="*{id}" /></td></tr>
			<tr><td><label for="password">パスワード</label></td>
			<td><input type="text" password="password" th:value="*{password}" /></td></tr>
			<button class="btn-primary" type="submit">登録</button>
	</form>
	</table>
	</div>
</body>
</html>